{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "quoteProps": "consistent",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "printWidth": 120,
    "htmlWhitespaceSensitivity": "ignore",
    "experimentalTernaries": true,
    "semi": true,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
